@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F8F9FA] text-[#1E222D] font-sans antialiased selection:bg-[#0052FF]/10 selection:text-[#0052FF];
  }
}

/* Institutional Tabular Numbers for Prices & PnL */
.font-mono, .tabular-nums {
  font-variant-numeric: tabular-nums;
}

/* Custom Scrollbar for Dense Tables and Sidebars */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #E0E3EB;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #C1C7D0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker {
  @apply font-sans border border-[#E0E3EB] shadow-md bg-white overflow-hidden rounded-md text-xs !important;
}

.react-datepicker__header {
  @apply bg-[#F8F9FA] border-b border-[#E0E3EB] pt-2 pb-1 !important;
}

.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  @apply text-[#1E222D] font-semibold text-xs uppercase tracking-wider mb-1 !important;
}

.react-datepicker__day-name {
  @apply text-[#787B86] font-medium text-[11px] uppercase w-7 !important;
}

.react-datepicker__day {
  @apply text-[#1E222D] font-medium text-xs w-7 h-7 leading-7 rounded hover:bg-[#F0F3FA] transition-colors !important;
}

.react-datepicker__day--outside-month {
  @apply opacity-30 !important;
}

.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected, .react-datepicker__time-list-item--selected {
  @apply bg-[#0052FF] text-white font-semibold hover:bg-[#0047D0] !important;
}

.react-datepicker__time-container {
  @apply border-l border-[#E0E3EB] w-24 !important;
}

.react-datepicker__time-box {
  @apply rounded-none w-full !important;
}

.react-datepicker__time-list-item {
  @apply text-[#1E222D] font-medium text-xs h-8 leading-8 hover:bg-[#F0F3FA] transition-colors flex items-center justify-center !important;
}

.react-datepicker__navigation-icon::before {
  @apply border-[#787B86] !important;
}

